<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <ul class="list-group">
			{% for i in bl_properties.split(',') %}
			<li class="list-group-item">
				Caller_MSISDN: {{ i.split()[0] }}
			</li><li class="list-group-item">
				Enforce: {{ i.split()[1] }}
			</li><li class="list-group-item">
				Corporation: {{ i.split()[2] }}
			</li><li class="list-group-item">
				From Time: {{ i.split()[3] }}
			</li><li class="list-group-item">
				To Time: {{ i.split()[4] }}
			</li><li class="list-group-item">
				RBT Id: {{ i.split()[5] }}
			{% endfor %}
        </ul>

    </div>


</body>
</html>