<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All VPNed MSDISDNS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <ul class="list-group">

		{% for key, values in dictionary.items() %}
			<li class="list-group-item" @mouseover="hover = true" @mouseleave="hover = false">
				{{ key }} : {% for val in values %}
						{{ val.split(' ')[0] }},
					    {% endfor %}
			</li>
		{% endfor %}
        </ul>
        <ul class="list-group" v-if="hover">
            {% for vpn in vpn_groups %}
            <li>
                {{ vpn }}
            </li>
            {% endfor %}
        </ul>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
	
        new Vue({
            el: '#app',
            data() {
                return {
                    hover: false,
                    data: []
                }
            },
            mounted() {
            console.log(this.$options.name + ' component succesfully mounted ' + this.data);
            }
        });

	
    </script>
</body>
</html>