<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display MSISDNs for VPN group {{ id }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <ul class="list-group">

		{% for msisdn in lst %}
			<li class="list-group-item">
				{{ msisdn }}
			</li>
		{% endfor %}
        </ul>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
	
        new Vue({
            el: '#app',
            data() {
                return {
                }
            },
            mounted() {
            console.log(this.$options.name + ' component succesfully mounted ' + this.data);
            }
        });

	
    </script>
</body>
</html>