<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New VPN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
<div id="form">
<form method="post" class="form-control">
<p id="key_text">VPN ID is set to {{ data }}</p>
<div id="fields">
MSDISDN: <input type="text" name="msisdn" placeholder="Enter Phone Number">
Short Number: <input type="text" name="short_number" placeholder="Enter 4 last digits of MSISDN">
Direction: <input type="text" name="direction" placeholder="Enter value 0-15">
Member ID: <input type="text" name="member_id">
Roaming: <select style="width:5;" id="roaming" name="roaming">
	<option value="0">0</option>
	<option value="1">1</option>
</select>
<input type="hidden" name="key" value="{{ data }}">
</div>
<input type="submit" value="Add" onlick="submit()">
</form>
</div>
</body>

<script>

    function submit() {
    	let theForm = document.findElementById("form");
	let div = document.findElementById("fields");
	let x = document.findElementById("vpn_id");
	theForm.appendChild(div);
	x.remove();
    }

</script>


</html>