<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VPN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <ul class="list-group">
			{% for i in vpn.split(',') %}
			<li class="list-group-item">
				MSISDN: {{ i.split(' ')[0] }}
			</li><li class="list-group-item">
				Short Number: {{ i.split(' ')[1] }}
			</li><li class="list-group-item">
				Direction: {{ i.split(' ')[2] }}
			</li><li class="list-group-item">
				Member ID: {{ i.split(' ')[3] }}
			</li><li class="list-group-item">
				Romaming: {{ i.split(' ')[4] }}
			</li>
			{% endfor %}
        </ul>

    </div>


</body>
</html>